h1{
    text-decoration: underline;
}
a{
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}
/*Element selector*/
/* div{
    background-color: red;
} */
/* Class Selector */
.red{
    background-color: red;
}
/* Id Selector */
#blue{
    background-color: rgb(135, 246, 8);
}
/* Child Selector */
div > p{
    background-color: aqua;
}

/* Descendent Selector  */

div h2{
    background-color: hotpink;
}
/* Universal Selector */
*{
    background-color: white;
    margin: 0;
    padding: 0;
}

/*Pseudo Selector*/
a:visited{
    color: yellow;
}
a:link{
    color: rgb(5, 45, 225);
}
a:active{
    background-color: red;
}
a:hover{
    background-color: yellow;
}
p:first-child{
    background-color: aqua;
}